*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#141e30,#243b55);
    color:white;
}

.container{
    width:420px;
    padding:40px;
    border-radius:18px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow:0 25px 50px rgba(0,0,0,0.4);
    text-align:center;
}

h1{
    margin-bottom:10px;
    font-size:28px;
}

p{
    font-size:14px;
    opacity:0.8;
    margin-bottom:25px;
}

.upload-box{
    border:2px dashed rgba(255,255,255,0.4);
    padding:30px;
    border-radius:12px;
    margin-bottom:20px;
    cursor:pointer;
}

.upload-box:hover{
    background:rgba(255,255,255,0.05);
}

input[type="file"]{
    color:white;
    margin-top:10px;
}

.btn{
    margin-top:20px;
    padding:14px 25px;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
    background: linear-gradient(45deg,#00c6ff,#0072ff);
    color:white;
    cursor:pointer;
    width:100%;
}

.btn:hover{
    opacity:0.9;
}

.result{
    margin-top:25px;
    padding:15px;
    border-radius:10px;
    background:rgba(0,0,0,0.3);
}

.fake{
    color:#ff4d4d;
    font-weight:bold;
}

.real{
    color:#00ffae;
    font-weight:bold;
}
